<div class="form-row">
    <div class="form-item">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%=author.name%>"> <!--<= in percent> make this as html output -->
    </div>
</div>
