<h2>new authors</h2>

 <form action="/authors" method="POST"> <!--//this action go to post method on author routes -->
    <%- include('_form_fields.ejs')  %> <!--<- in percent> make this as file output -->
    <div class="form-row form-row-end btn-end">
        <a class="btn btn-danger" href="/authors">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
        
    </div>
</form>
